name: Go package

on:
  workflow_dispatch:
    inputs:
      goVersion:
        description: 'The Go version'
        required: true
        default: 1.17
        type: choice
        options:
        - 1.15
        - 1.16
        - 1.17

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ inputs.goVersion }}

      - name: Go Init
        run: go mod init main

      - name: Build
        run: go build -v ./...

      - name: Check the content
        run: ls -l

      - name: Run
        run: ./toremove
